body{
    background-color: #232323;
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

h1{
    color: white;
    background-color: steelblue;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    font-weight: normal;
    padding: 20px 0;
    font-size: 2em;
    line-height: 1.3;
}

#colorDisplay{
    font-size: 2em;
}

#stripe{
    color: steelblue;
    background-color: white;
    text-align: center;
    height: 30px;
}

#resultDisplay{
    width: 20%;
    display: inline-block;
}

.colorBox{
    background-color: brown;
    width: 30%;
    padding-top: 30%;
    float: left;
    margin: 1.66%;
    border-radius: 50%;
}

#container{
    max-width: 600px;
    margin: 20px auto;
}

button{
    border: none;
    background: none;
    letter-spacing: 1px;
    height: 100%;
    font-weight: 700;
    color: steelblue;
    transition: background-color 0.5s;
    outline: none;   
}

button:hover{
    background-color: steelblue;
    color: white;
}

.selected{
    background-color: steelblue;
    color: white;
}